.intro{
    padding: $pd-3 0;
    background: linear-gradient(-45deg, $color-red-0, $color-purple);
    .icon{
        @include text($color-white-0, $fs-4, $fw-bold);
        align-self: center;
    }
    .icon_content{
        align-self: center;
        p:first-child{
            @include text($color-white-0, $fs-2 -3, $fw-bold);
            margin-bottom: 0px;
        }
        p:nth-child(2){
            @include text($color-white-0, $fs-0, $fw-normal);
            margin-bottom: 0px;
        }
    }
}