* {
    margin: 0;
    padding: 0;
}
body{
    color: $color-black-0;
    background-color: $color-white-0;
    font-size: $fs-0;
    font-weight: $fw-normal;
    font-family: "Source Sans Pro", sans-serif;
}